body,div,span,header,footer,nav,section,aside,article,ul, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select, pre, code  {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  font-family: "Source Code Pro",Consolas,Menlo,Monaco,"Courier New",monospace;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 12px;
}
img{
  display: block;
}
.fa-icon {
  width: auto;
  height: 1em; /* 或任意其它字体大小相对值 */

  /* 要在 Safari 中正常工作，需要再引入如下两行代码 */
  max-width: 100%;
  max-height: 100%;
}

.w-100{
  width: 100%;
}

@import "./theme/box";
@import "./theme/flex";
@import "./theme/fontSize";
@import "./theme/text";
@import "./theme/btn";
@import "./theme/media";
@import "./theme/input";
