@import "../color";
.modal-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(24, 39, 56, 0.5);
  .modal{
    background-color: $c-bg-white;
    border: 1px solid $c-light-border;
    border-radius: 10px;
    overflow: hidden;
    &-title{
      padding: 15px 15px;
      font-size: 18px;
      border-bottom: 1px solid $c-light-border;
    }
    &-content{
      padding: 10px 15px;
    }
    &-footer{
      padding: 10px 15px;
      border-top: 1px solid $c-light-border;
    }
  }
}