@import "../color";
.btn {
  border: none;
  padding: 7px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  &.btn-blue{
    color: $c-white;
    background-color: $c-blue;
    &:hover{
      background-color: darken($c-blue,10%);
      border-color: darken($c-blue,10%);
    }
  }
}