@import "../color";
.form{
  margin: auto;
  border: 1px solid $c-border;
  border-radius: 8px;
  padding: 25px 20px;
  box-shadow: 0 2px 18px rgba($c-black,.2);
  &-title{
    text-align: center;
    color: $c-text;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
  }
}
.form-group{
  margin-bottom: 10px;
  .form-label{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 4px;
    display: block;
    color: $c-text;
    sup{
      color: $c-red;
    }
  }
  .form-control{
    -webkit-appearance: none;
    outline: none;
    padding: 8px 10px;
    width: 100%;
    border: 1px solid $c-border;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color,box-shadow .3s;
    &:focus{
      box-shadow: 0 0 4px rgba($c-blue, 0.8);
      border-color: rgba($c-blue, 0.8);
    }
  }
  .has-icon{
    position: relative;
    .form-control{
      cursor: pointer;
    }
  }
  .tip{
    display: none;
    font-size: 12px;
    padding-top: 6px;
  }
  &.error{
    .form-control{
      border: 1px solid $c-red;
      &:focus{
        box-shadow: 0 0 4px rgba($c-red, 0.8);
        border-color: rgba($c-red, 0.8);
      }
    }
    .tip{
      color: $c-red;
      display: block;
    }
  }
  .right-input-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    .drapdown{
      transition: all 0.3s;
      transform-origin:50% 50%;
      transform: translateY(-50%) rotate(0deg);
      &.active{
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
}
.upload-file{
  position: relative;
  input[type="file"]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    font-size: 0;
    cursor: inherit;
  }
}

