@import "../color";

.form-group{
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
  .form-label{
    padding-bottom: 4px;
    display: inline-block;
    font-weight: 600;
  }
  .form-control{
    width: 100%;
    display: block;
    padding: 8px 10px;
    border: 1px solid $c-border;
    border-radius: 3px;
    &:focus{
      border-color:  $c-blue;
      box-shadow: 0 0 3px 0 $c-blue;
    }
  }
}