@import "../color";
.form-control{
  outline: none;
  cursor: pointer;
  padding: 8px 20px;
  width: 100%;
  border: 1px solid $c-border;
  border-radius: 4px;
  transition: border-color,box-shadow .3s;
  &:focus{
    box-shadow: 0 0 4px rgba($c-blue, 0.8);
    border-color: rgba($c-blue, 0.8);
  }
}


