.pc-show{
 display: block;
}
.app-show{
  display: none;
}
.container{
  margin: 0 auto;
}
.app-content{

}
@media (min-width: 1200px){
  .container{
    width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .container {
    width: 750px;
  }
}

@media only screen and (max-width: 767px){
  .pc-show{
    display: none;
  }
  .app-show{
    display: block;
  }
  .container{
    width: 100%;
  }
  .app-content{
    width: 100%;
    overflow: auto;
    padding: 0 15px;
  }
}
